:root {
    --primary-color: #228A5E;
    --secondary-color: #FFF;
    --tertiary-color: #D90000;
    --quaternary-color: #898989;
    --margin-small: 1rem;
    --margin-medium: 1.5rem;
    --margin-big: 2rem;
    --margin-very-big: 4rem;
    --padding-very-small: 0.125rem;
    --padding-small: 1rem;
    --padding-medium: 1.5rem;
    --padding-big: 2rem;
    --padding-very-big: 140px;
    --padding-medium: 20px;
    --font-size-very-small: 16px;
    --font-size-small: 20px;
    --font-size-normal: 24px;
    --font-size-medium: 28px;
    --font-size-semi-medium: 32px;
    --font-size-big: 36px;
    --font-size-very-big: 40px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-family: 'Roboto', sans-serif;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    max-width: 100vw;
    overflow-x: hidden;
}